<div class="header-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h1>
                <span>
                  May the codes <i class="fa fa-code"></i> be ever in your favor
                </span>
              </h1>
              <hr class="star-light">
              <span class="skills">{{ site.skills }}</span>
                <div class="track-button-wrapper">
                    <div class="as-track-button" data-size="large"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="as-root"></div><script>(function(e,t,n){var r,i=e.getElementsByTagName(t)[0];if(e.getElementById(n))return;r=e.createElement(t);r.id=n;r.src="//button.aftership.com/all.js";i.parentNode.insertBefore(r,i)})(document,"script","aftership-jssdk")</script>
</div>
